In [3]:
# spam(1) or not spam(0)

In [1]:
# import
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
#CountVector is used to transform a given text into a vector on the basis of the frequency (count) of each word that occurs 
#in the entire text.

In [8]:
# load the data
#read the csv
df = pd.read_csv(r"C:\Users\BEST BUY\Desktop\spam.csv", encoding='windows-1252')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [9]:
df.columns

Index(['Category', 'Message'], dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5573 entries, 0 to 5572
Data columns (total 2 columns):
Category    5573 non-null object
Message     5573 non-null object
dtypes: object(2)
memory usage: 87.2+ KB

In [11]:
df.isna().sum()

Category    0
Message     0
dtype: int64

In [12]:
df['Spam']=df['Category'].apply(lambda x:1 if x=='spam' else 0)
df.head(5)

  Category                                            Message  Spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.Message,df.Spam,test_size=0.25)

In [14]:
from sklearn.naive_bayes import MultinomialNB
#Naive Bayes Have three Classifier(Bernouli,Multinominal,Gaussian)
# Multinominal Bayes Because here data in a discrete form discrete data

In [15]:
from sklearn.pipeline import Pipeline
clf=Pipeline([
    ('vectorizer',CountVectorizer()),
    ('nb',MultinomialNB())
])

In [16]:
#train
clf.fit(X_train,y_train)

Pipeline(memory=None,
         steps=[('vectorizer',
                 CountVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.int64'>, encoding='utf-8',
                                 input='content', lowercase=True, max_df=1.0,
                                 max_features=None, min_df=1,
                                 ngram_range=(1, 1), preprocessor=None,
                                 stop_words=None, strip_accents=None,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, vocabulary=None)),
                ('nb',
                 MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))],
         verbose=False)

In [17]:
Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

Pipeline(memory=None,
         steps=[('vectorizer',
                 CountVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.int64'>, encoding='utf-8',
                                 input='content', lowercase=True, max_df=1.0,
                                 max_features=None, min_df=1,
                                 ngram_range=(1, 1), preprocessor=None,
                                 stop_words=None, strip_accents=None,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, vocabulary=None)),
                ('nb',
                 MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))],
         verbose=False)

In [29]:
emails=[
    'djdhvani.1435@gmail.com, Congrats, Get Upto Rs.56.7 lakh* Pension',
    'Will u meet ur dream partner soon? Is ur career off 2 a flyng start? 2 find out free, txt HORO followed by ur star sign, e. g. HORO ARIES'
    ,'FREE WEBINAR- Master Devops from Microsoft software Engineer!', 
    'Take your career to the next level with the Imperial Global Online MBA'
]
clf.predict(emails)

array([1, 1, 1, 1], dtype=int64)

In [30]:
clf.score(X_test,y_test)

0.9913916786226685